img{ 
    border: 10px solid black;
    width:300px; 
    height:500px;
}

h1{
    font-size: 50px;
    color:rgb(33, 43, 23);
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
ol{
    text-transform: uppercase;
    color:rgb(92, 202, 184);
}

ul{
    text-transform: uppercase;
    color:rgb(92, 202, 184);
}

body{
    background-color:rgb(212, 216, 212);}

